  <% if @article.errors.any? %>
    <div id="errorExplanation">
      <h2>
         <%= pluralize(@article.errors.count, "error") %> prohibited this Article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @article, :url => {:action => "update"} do |i| %>
    Title : <%= i.text_field :title, :value=> @article.title %><br />
    Body  : <%= i.text_field :body %><br />
            <%= i.submit "Save" %>
  <% end %>
