  <br />
  <h2> Articles </h2>
  Article : <%= @article.title %> <br />
  Body : <%= @article.body %>

  <h2> Comments </h2>
  <div id="comments">
    <% @comments.each do |comment| %>
      <%#= comment.content %>
      <%= render :partial => "comments", :locals => {:comments => @comments} %>
      <br />
    <% end %>
  </div><br /><br />

  <%= form_for @comment, :url => comments_path, :remote => true do |i| %>
    <%= i.text_area :content %>
    <%= i.hidden_field :article_id, :value => @article.id %>
    <%= submit_tag "Comment" %>
  <% end %>
